* {
    font-family: Arial, Helvetica, sans-serif;
}

.img_card {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_box {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btoom {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    color: #666;
}

.info {
    padding: 10px;
}

.list_khoa_hoc {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.list_khoa_hoc:hover {
    transform: scale(1.05);
}

.container_khoa_hoc{
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

.fa-regular {
    font-size: 15px;
}

.btoom i{
    font-size: 14px;
}

