body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
}
.trai{
    width: 75%;
    position: fixed;
}
.phai{
    width: 25%;
    margin-left: 75%;
   
}

 iframe{
    width: 100%;
    height: 80vh;
    
}

.dropdown{
    display: none;
}

.dropdown.active{
    display: block;
    padding: 0;
    margin: 0;
}

.dropdown li{
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.list_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEFF1;
    border-bottom: 1px solid gray;
    padding: 0 10px;
}
.list_title:hover{
    background: #ddd;
}
.phai_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}


.title.rotate i {
    transform: rotate(180deg);
}

.dropdown li a {
    text-decoration: none;
}

.dropdown li:hover{
     background: #ddd;
}

#noi_dung_video{
    margin-left: 20px;
}







